// Copyright 2025 TypeFox GmbH
// This program and the accompanying materials are made available under the
// terms of the MIT License, which is available in the project root.

package main

import (
	"context"
	"log"

	lang "{{.ModulePath}}"
	"typefox.dev/fastbelt/server"
)

type lspServer struct {
	*lang.{{.ExportedBase}}Srv
	server.ServerSrvContBlock
}

func main() {
	ctx := context.Background()
	srv := &lspServer{
		{{.ExportedBase}}Srv: lang.CreateServices(),
	}
	server.CreateDefaultServices(srv)

	if err := server.StartLanguageServer(ctx, srv); err != nil {
		log.Fatalf("Error: %v", err)
	}
}
