// Copyright 2025 TypeFox GmbH
// This program and the accompanying materials are made available under the
// terms of the MIT License, which is available in the project root.

package {{.GoPackage}}

import (
	"typefox.dev/fastbelt/linking"
	"typefox.dev/fastbelt/textdoc"
	"typefox.dev/fastbelt/workspace"
)

// {{.ExportedBase}}Srv is the service container for the {{.LanguageLabel}} language.
type {{.ExportedBase}}Srv struct {
	textdoc.TextdocSrvContBlock
	workspace.GeneratedSrvContBlock
	workspace.WorkspaceSrvContBlock
	linking.LinkingSrvContBlock
	{{.GrammarName}}LinkingSrvContBlock
}

// CreateServices creates and initializes a {{.ExportedBase}}Srv with all default services.
func CreateServices() *{{.ExportedBase}}Srv {
	srv := &{{.ExportedBase}}Srv{}
	textdoc.CreateDefaultServices(srv)
	workspace.CreateDefaultServices(srv)
	linking.CreateDefaultServices(srv)
	CreateDefaultServices(srv)

	srv.Workspace().LanguageID = "{{.LanguageID}}"
	srv.Workspace().FileExtensions = []string{"{{.FileDotExt}}"}

	return srv
}
